
.contact_credentials .link p {
    opacity: 0;
    overflow: hidden;
    width: 0;
    transform: translateX(20px);
}
.contact_credentials .link{
    cursor: pointer;
}
.contact_credentials .link:hover p {
   opacity: 1;
   display: inline-block;
   overflow: visible;
   width: fit-content;
  
    transition: opacity 0.8s ease-out;
    transition: transform 0.8s ease-out;
    transform: translateX(0);
    color: var(--neutral-100);
font-size: 0.80rem;
font-weight: 400;
line-height: 1.31rem;

}
