@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100: #ebf1f9;
  --primary-200: #b0cbea;
  --primary-300: #6fa6d9;
  --primary-400: #5580a8;
  --primary-500: #3c5c79;
  --primary-base-600: #243a4e;
  --primary-700: #0f1b26;

  --secondary-100: #fceae6;
  --secondary-200: #f7b6a3;
  --secondary-base-300: #f47e42;
  --secondary-400: #bd602f;
  --secondary-500: #89431f;
  --secondary-600: #582910;
  --secondary-700: #2b1104;

  --tertiary-base-100: #feda79;
  --tertiary-200: #d9b220;
  --tertiary-300: #ac8d17;
  --tertiary-400: #81690f;
  --tertiary-500: #594807;
  --tertiary-600: #332802;
  --tertiary-700: #161001;

  --tertiary2-100: #e6f2fd;
  --tertiary2-200: #b1dafa;
  --tertiary2-base-300: #42b8f4;
  --tertiary2-400: #3290c0;
  --tertiary2-500: #236a8f;
  --tertiary2-600: #144760;
  --tertiary2-700: #072635;

  --neutral-white: #ffffff;
  --neutral-100: #dfddd9;
  --neutral-200: #b7b5b1;
  --neutral-300: #918f8c;
  --neutral-400: #6c6b69;
  --neutral-500: #4a4947;
  --neutral-600: #2a2928;
  --neutral-700: #111110;
  --neutral-black: #000000;

  --font-size-display: 3.5rem;
  --font-size-h1: 2.9rem;
  --font-size-h2: 2.4rem;
  --font-size-h3: 1.6875rem;
  --font-size-h4: 1.5rem;
  --font-size-paragraph1: 1rem;
  --font-size-paragraph2: 1.125rem;
  --font-size-paragraph3: 1.5rem;
  --button: 1.25rem;
  --font-size-hyperlink: 1rem;
  --font-size-button: 1.2rem;
  --font-weight-600: 600;
  --font-weight-500: 500;
  --font-weight-400:400;
  --font-style-normal: normal;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Poppins", sans-serif;
}

.admin-panel-layout {
  background-color: var(--primary-700);
}
.admin-sidebar{
  background-color: var(--primary-700);
}
.admin-menubar{
  background-color: var(--primary-700);
}
h2{
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-500);
  font-style: var(--font-style-normal);
  line-height: normal;
}
h1{
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-500);
  font-style: var(--font-style-normal);
  line-height: normal;
}
.font-size-display {
  font-size: var(--font-size-display);
  font-weight: var(--font-weight-500);
  font-style: var(--font-style-normal);
  line-height: normal;
}
.font-size-paragraph{
  font-size: var(--font-size-paragraph1);
  font-weight: var(--font-weight-400);
  font-style: var(--font-style-normal);
  line-height: normal;
  line-height: 1rem;
}
.font-size-paragraph2{
  font-size: var(--font-size-paragraph2);
  font-weight: var(--font-weight-400);
  font-style: var(--font-style-normal);
  line-height: 1.125rem;
}
.font-size-paragraph-large{
  font-size: var(--font-size-paragraph3);
  font-weight: var(--font-weight-400);
  font-style: var(--font-style-normal);
  line-height: normal;
  line-height: 2.4rem;
}
.font-size-button{
font-size: var(--font-size-button);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-600);
line-height: 1.6875rem 
}

@media only screen and (max-width: 625px) {
  :root{
     --font-size-display: 3.0rem;
  --font-size-h1: 2.4rem;
  --font-size-h2: 1.9rem;
  --font-size-h3: 1.1875rem;
  --font-size-h4: 1rem;
  --font-size-paragraph1: 0.75rem;
  --font-size-paragraph2: 1rem;
  --button: 1.25rem;
  --font-size-hyperlink: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  :root{
     --font-size-display: 1.9rem;
  --font-size-h1: 1.8rem;
  --font-size-h2: 1.3rem;
  --font-size-h3: 0.875rem;
  --font-size-h4: 1rem;
  }
}
